.metadata*
test_client*/
client_files/
.settings*
__pycache__
*.zip
.p*
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad*.class
*.pyc
*.pyo
